.gif-container{padding:0;max-width:80%;margin:auto;list-style:none}.gif-container li{padding:10px;border:1px solid #eee;margin-bottom:15px;width:100%}.location-container p{word-break:break-all;background:#000;color:#fff;padding:20px}.location-container button{border:1px solid #eee;background:#eee;padding:15px}

body{color:red}.container{margin:auto;text-align:center;max-width:600px}.container__image{width:100px;height:auto}.new{color:yellow}.left{text-align:left}

